.main {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .main .div {
    background-color: #ffffff;
    height: 1024px;
    overflow: hidden;
    position: relative;
    width: 1440px;
  }
  
  .main .overlap-group {
    height: 18px;
    left: 1344px;
    position: absolute;
    top: 41px;
    width: 56px;
  }
  
  .main .rectangle {
    background-color: #f8f15b;
    border-radius: 1px;
    height: 17px;
    left: 0;
    position: absolute;
    top: 1px;
    width: 56px;
  }
  
  .main .text-wrapper {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: 56px;
  }
  
  .main .line {
    height: 30px;
    left: 1334px;
    object-fit: cover;
    position: absolute;
    top: 34px;
    width: 1px;
  }
  
  .main .img {
    height: 40px;
    left: 689px;
    object-fit: cover;
    position: absolute;
    top: 208px;
    width: 1px;
  }
  
  .main .line-2 {
    height: 600px;
    left: 720px;
    object-fit: cover;
    position: absolute;
    top: 424px;
    width: 1px;
  }
  
  .main .text-wrapper-2 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 1282px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 41px;
    white-space: nowrap;
    width: 42px;
  }
  
  .main .text-wrapper-3 {
    color: #f8f15b;
    font-family: "Poiret One-Regular", Helvetica;
    font-size: 96px;
    font-weight: 400;
    left: 0; /* 왼쪽 위치를 0으로 설정 */
    right: 0; /* 오른쪽 위치를 0으로 설정 */
    margin-left: auto; /* 왼쪽 여백을 자동으로 설정 */
    margin-right: auto; /* 오른쪽 여백을 자동으로 설정 */
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 63px;
    white-space: nowrap;
    width: 180px;
  }
  
  .main .text-wrapper-4 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 543px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 216px;
    white-space: nowrap;
    width: 136px;
  }
  
  .main .text-wrapper-5 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 699px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 216px;
    width: 98px;
  }
  
  .main .line-3 {
    height: 40px;
    left: 807px;
    object-fit: cover;
    position: absolute;
    top: 208px;
    width: 1px;
  }
  
  .main .text-wrapper-6 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 817px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 216px;
    white-space: nowrap;
  }
  
  .main .search-field {
    align-items: center;
    background-color: var(--fillstertiary);
    border-radius: 10px;
    display: flex;
    left: 445px;
    padding: 7px 8px;
    position: absolute;
    top: 302px;
    width: 550px;
  }
  
  .main .search-glyph {
    color: var(--labelssecondary);
    font-family: "SF Pro-Regular", Helvetica;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 22px;
    position: relative;
    width: 25px;
  }
  
  .main .placeholder-label {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    color: var(--labelssecondary);
    display: -webkit-box;
    flex: 1;
    font-family: "Inter-Regular", Helvetica;
    font-size: 15px;
    font-weight: 400;
    height: 22px;
    letter-spacing: -0.4px;
    line-height: 22px;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .main .idea-post {
    height: 768px;
    left: 40px;
    overflow-y: scroll;
    position: absolute;
    top: 419px;
    width: 640px;
  }
  
  .main .text-wrapper-7 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 50px;
    font-weight: 400;
    left: 71px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 177px;
    width: 511px;
  }
  
  .main .developer-list {
    height: 768px;
    left: 760px;
    overflow-y: scroll;
    position: absolute;
    top: 419px;
    width: 640px;
  }
  
  .main .text-wrapper-8 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 50px;
    font-weight: 400;
    left: 65px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 177px;
    width: 511px;
  }
  