.main{
  flex-direction: column;
}
.top,
.middle1,
.middle2,
.bottom{
  display: flex;
}

.onPost,
.div1,
.div{
  margin-left : 500px;
}
.ida {
  display: inline-block;
  padding-left : 97px;
  margin : auto;
  font-size: var(--font-size-77xl);
  font-weight: 112;
  font-family: var(--font-poiret-one);
  color: var(--color-gold);
}
.onPost,
.div,
.div1{
  margin: 10px 10px 0px 10px;
  height: 20px;
}
.onPost{
  padding: 0px 0px 0px 10px;
}
.div{
  border-right : 1px solid var(--color-gray-100);
  padding: 0px 10px 0px 0px;
}
.div1,
.div2{
  background-color: var(--color-gold)
}


.middle1{
  margin:auto;
}
.div2,
.div3,
.div4{
  margin: 10px;
}

.div2,
.div3,
.div4{
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 20px;
  align-content: center;
}
.div3{
  border-left : 1px solid var(--color-gray-100);
  border-right : 1px solid var(--color-gray-100);
  padding: 10px 20px 10px 20px;
}

.onPost,
.ida,
.div,
.div1,
.div2,
.div3,
.div4{
  cursor: pointer;
}

.preBar {
  position: absolute;
  top: 33.5px;
  left: 1333.5px;
  backdrop-filter: blur(4px);
  border-right: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  width: 1px;
  height: 31px;
}





.placeholderLabel,
.searchGlyph {
  line-height: 22px;
  display: inline-block;
}
.searchGlyph {
  width: 23px;
  flex-shrink: 0;
  padding-right: 5px;
  cursor: pointer;
}

.placeholderLabel {
  height: 22px;
  flex: 1;
  background-color: rgba(0, 0, 0, 0);
  border : 0;
  white-space: nowrap;
  min-width: 20px;
  max-width: 100%;
  outline: none;
}
.searchField {
  top: 302px;
  left: 445px;
  border-radius: var(--br-3xs);
  background-color: var(--fills-tertiary);
  width: 550px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-6xs) var(--padding-5xs);
  box-sizing: border-box;
  max-width: 100%;
  row-gap: 20px;
  text-align: left;
  font-size: var(--font-size-mid);
  color: var(--labels-secondary);
  font-family: var(--font-sf-pro);
  margin : auto;
}

.h1{
  margin: auto;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  width: 511px;
  height: 154px;
  align-content: center;
}
.ideaPost {
  padding-top : 50px;
  width: 640px;
  height: 768px;
  overflow-y: auto;
  font-size: 15px;
  margin: auto;
}

.main {
  max-width: 1024px;
  background-color: var(--color-white);
  display: flex;
  margin: 0 auto;
  padding: 20px 20px 0 20px;
}

.postList {
  display: flex;
  flex-direction: column;
}

.post {
  border: 2px solid rgb(248,240,202);
  border-radius: 10px;
  padding: 30px;
  margin-bottom: 10px;
  flex-direction: row;
  font-weight: 800;
  line-height: 1.5;
}
.title{
  font-size: 30px;
  margin-bottom: 10px;
}
.postTop{
  margin-bottom: 20px;
  font-weight: 800;
}












.track-vertical {
  top:11px;
  width: 50px;
  bottom: 2px;
  right: 6px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.111);
}

.track-vertical,
.thumb-vertical {
  position : relative;
  display: block;
  width: 90%;
  cursor: pointer;
  border-radius: inherit;
  background-color: rgba(0, 0, 0, 0.2);
}

.track-horizontal {
  position : absolute;
  height: 6px;
  right: 2px;
  bottom: 2px;
  left: 2px;
  border-radius: 3px;
}

.track-horizontal,
.thumb-horizontal {
  position : relative;
  display: block;
  height: 100%;
  cursor: pointer;
  border-radius: inherit;
}