.div {
  position: relative;
  line-height: 19px;
  display: inline-block;
  min-width: 60px;
  cursor: pointer;
}
.userActions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0 0;
}
.separator {
  height: 31px;
  width: 1px;
  position: relative;
  backdrop-filter: blur(4px);
  border-right: 1px solid var(--color-gray-100);
  box-sizing: border-box;
}
.div1 {
  position: relative;
  line-height: 19px;
  display: inline-block;
  min-width: 69px;
  white-space: nowrap;
  cursor: pointer;
}
.userActions1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0 0;
}
.userNavigation,
.userOptions {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.userOptions {
  height: 30px;
  justify-content: flex-start;
  gap: var(--gap-5xs-5);
}
.userNavigation {
  align-self: stretch;
  justify-content: flex-end;
}
.ida {
  margin: 0;
  width: 180px;
  position: relative;
  font-size: var(--font-size-77xl);
  font-weight: 400;
  font-family: var(--font-poiret-one);
  color: var(--color-gold);
  text-align: left;
  display: inline-block;
}
.topNavigation {
  width: 803px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-xl);
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-mini);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.boardContainer,
.mainLogIn,
.topNavigation {
  display: flex;
  box-sizing: border-box;
}
.boardContainer {
  width: 1379px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 77px;
  max-width: 100%;
}
.mainLogIn {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-15xl) var(--padding-8xl) 0 0;
  gap: var(--gap-13xl);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .boardContainer {
    padding-left: var(--padding-19xl);
    padding-right: var(--padding-19xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .mainLogIn {
    gap: var(--gap-base);
  }
}
