.directoryImage {
  width: 98px;
  height: 24px;
  position: relative;
  border-radius: var(--br-12xs);
  background-color: var(--color-gold);
}
.directoryPreview {
  margin-left: -1381px;
  width: 1372px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs) 0 0;
  box-sizing: border-box;
  max-width: 388%;
  flex-shrink: 0;
}
.div {
  position: relative;
  line-height: 24px;
  white-space: nowrap;
  cursor: pointer;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs) 0 0;
}
.contentNavigationChild {
  height: 41px;
  width: 1px;
  position: relative;
  backdrop-filter: blur(4px);
  border-right: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  flex-shrink: 0;
}
.div1 {
  position: relative;
  display: inline-block;
  min-width: 98px;
  white-space: nowrap;
  cursor: pointer;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs) 0 0;
}
.contentNavigationItem {
  height: 41px;
  width: 1px;
  position: relative;
  backdrop-filter: blur(4px);
  border-right: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  flex-shrink: 0;
}
.div2 {
  position: relative;
  display: inline-block;
  min-width: 80px;
  white-space: nowrap;
  cursor: pointer;
}
.contentContainer,
.contentNavigation,
.frame {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame {
  flex-direction: column;
  padding: var(--padding-4xs) 0 0;
}
.contentContainer,
.contentNavigation {
  flex-direction: row;
  box-sizing: border-box;
  max-width: 100%;
}
.contentNavigation {
  height: 40px;
  width: 897px;
  padding: 0 0 0 var(--padding-524xl);
  gap: var(--gap-4xs);
}
.contentContainer {
  align-self: stretch;
  padding: 0 0 var(--padding-3xl);
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1200px) {
  .contentNavigation {
    padding-left: var(--padding-252xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .contentNavigation {
    padding-left: var(--padding-116xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .div,
  .div1,
  .div2 {
    font-size: var(--font-size-base);
  }
  .contentNavigation {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
}
