.div {
  position: relative;
  cursor: pointer;
}
.ideaBoard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs) var(--padding-5xs) 0 0;
}
.frameChild {
  width: 1px;
  height: 41px;
  position: relative;
  backdrop-filter: blur(4px);
  border-right: 1px solid var(--color-gray-100);
  box-sizing: border-box;
}
.contentStructureInner {
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-6xs) 0 0;
  box-sizing: border-box;
}
.div1 {
  position: relative;
  display: inline-block;
  min-width: 106px;
  cursor: pointer;
}
.developerDirectory {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs) 0 0;
}
.frameItem {
  width: 1px;
  height: 41px;
  position: relative;
  backdrop-filter: blur(4px);
  border-right: 1px solid var(--color-gray-100);
  box-sizing: border-box;
}
.contentStructureChild {
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-6xs) 0 0;
  box-sizing: border-box;
}
.frameInner {
  height: 24px;
  width: 80px;
  position: relative;
  border-radius: var(--br-12xs);
  background-color: var(--color-gold);
  display: none;
}
.div2 {
  width: 86px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  debug_commit: 1de1738;
  z-index: 1;
}
.rectangleParent {
  height: 24px;
  border-radius: var(--br-12xs);
  background-color: var(--color-gold);
  flex-direction: row;
  padding: 0;
  box-sizing: border-box;
  white-space: nowrap;
}
.chatInterface,
.contentStructure,
.rectangleParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.chatInterface {
  flex-direction: column;
  padding: var(--padding-4xs) 0 0;
}
.contentStructure {
  flex-direction: row;
  gap: var(--gap-11xs);
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
@media screen and (max-width: 450px) {
  .div,
  .div1 {
    font-size: var(--font-size-base);
  }
  .contentStructure {
    flex-wrap: wrap;
  }
}
