.chatPreviewsChild,
.frameChild {
  align-self: stretch;
  position: relative;
  display: none;
}
.chatPreviewsChild {
  height: 552px;
  background-color: var(--color-gainsboro-100);
}
.frameChild {
  width: 550px;
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  flex-shrink: 0;
}
.div {
  position: relative;
  line-height: 34px;
  display: inline-block;
  min-width: 104px;
  white-space: nowrap;
  z-index: 1;
}
.previewDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-15xl) 0 0;
}
.div1,
.previewDivider {
  align-self: stretch;
  position: relative;
  z-index: 1;
}
.previewDivider {
  width: 1px;
  backdrop-filter: blur(4px);
  border-right: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  flex-shrink: 0;
}
.div1 {
  line-height: 34px;
  white-space: nowrap;
}
.previewDetails1 {
  width: 248px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-15xl) 0 0;
  box-sizing: border-box;
}
.frameItem,
.rectangleParent {
  align-self: stretch;
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  flex-shrink: 0;
}
.rectangleParent {
  height: 100px;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xl);
  gap: var(--gap-10xl-5);
  z-index: 1;
}
.frameItem {
  width: 550px;
  position: relative;
  display: none;
}
.div2 {
  position: relative;
  line-height: 34px;
  display: inline-block;
  min-width: 104px;
  white-space: nowrap;
  z-index: 1;
}
.usernames {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-15xl) 0 0;
}
.div3,
.rowDivider {
  align-self: stretch;
  position: relative;
  z-index: 1;
}
.rowDivider {
  width: 1px;
  backdrop-filter: blur(4px);
  border-right: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  flex-shrink: 0;
}
.div3 {
  line-height: 34px;
  white-space: nowrap;
}
.previewMessages {
  width: 248px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-15xl) 0 0;
  box-sizing: border-box;
}
.frameInner,
.rectangleGroup {
  align-self: stretch;
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-gray-100);
}
.rectangleGroup {
  flex: 1;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xl);
  gap: var(--gap-10xl-5);
  z-index: 2;
}
.frameInner {
  width: 550px;
  position: relative;
  box-sizing: border-box;
  flex-shrink: 0;
  display: none;
}
.div4 {
  position: relative;
  line-height: 34px;
  display: inline-block;
  min-width: 104px;
  white-space: nowrap;
  z-index: 1;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-15xl) 0 0;
}
.div5,
.lineDiv {
  align-self: stretch;
  position: relative;
  z-index: 1;
}
.lineDiv {
  width: 1px;
  backdrop-filter: blur(4px);
  border-right: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  flex-shrink: 0;
}
.div5 {
  line-height: 34px;
  white-space: nowrap;
}
.chatListings,
.chatPreviews,
.container,
.rectangleContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.container {
  width: 248px;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-15xl) 0 0;
  box-sizing: border-box;
}
.chatListings,
.chatPreviews,
.rectangleContainer {
  align-self: stretch;
}
.rectangleContainer {
  flex: 1;
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-gray-100);
  overflow-x: auto;
  flex-direction: row;
  padding: 0 var(--padding-11xl);
  gap: var(--gap-10xl-5);
  z-index: 1;
  margin-top: -1px;
}
.chatListings,
.chatPreviews {
  flex-direction: column;
}
.chatListings {
  flex: 1;
}
.chatPreviews {
  height: 552px;
  background-color: var(--color-gainsboro-100);
  padding: 0 0 var(--padding-234xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-9xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
@media screen and (max-width: 675px) {
  .chatPreviews {
    padding-bottom: var(--padding-145xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .div,
  .div1,
  .div2,
  .div3,
  .div4,
  .div5 {
    font-size: var(--font-size-3xl);
  }
}
