.mainContainerInner {
  width: 139px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-314xl) 0 0;
  box-sizing: border-box;
}
.email {
  height: 768px;
  flex: 1;
  position: relative;
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  min-width: 292px;
  max-width: 100%;
}
.mainContainer {
  width: 666px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-58xl);
  max-width: 100%;
}
.mypagePost,
.quillescapeIcon {
  position: relative;
  overflow: hidden;
}
.quillescapeIcon {
  height: 32px;
  width: 32px;
  flex-shrink: 0;
  cursor: pointer;
}
.mypagePost {
  width: 1024px;
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 0 0 var(--padding-52xl);
  box-sizing: border-box;
  line-height: normal;
  letter-spacing: normal;
  gap: var(--gap-xl);
  max-width: 100%;
  max-height: 100%;
}
@media screen and (max-width: 750px) {
  .mainContainer {
    gap: var(--gap-19xl);
  }
  .mypagePost {
    flex-wrap: wrap;
    padding: var(--padding-xl);
    box-sizing: border-box;
  }
}

.div {
  position: relative;
  display: inline-block;
  min-width: 92px;
  white-space: nowrap;
}
.detailsPanel {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-4xl) 0 var(--padding-5xl);
}
.separator {
  align-self: stretch;
  height: 1px;
  position: relative;
  backdrop-filter: blur(4px);
  border-top: 1px solid var(--color-gray-100);
  box-sizing: border-box;
}
.div1 {
  width: 112px;
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.frameChild {
  height: 24px;
  width: 139px;
  position: relative;
  border-radius: var(--br-12xs);
  background-color: var(--color-whitesmoke);
  display: none;
}
.div2 {
  position: relative;
  display: inline-block;
  min-width: 92px;
  z-index: 1;
}
.detailsPanelParent,
.rectangleParent {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangleParent {
  height: 24px;
  border-radius: var(--br-12xs);
  background-color: var(--color-whitesmoke);
  flex-direction: row;
  padding: 0;
  box-sizing: border-box;
  white-space: nowrap;
}
.detailsPanelParent {
  flex-direction: column;
  gap: var(--gap-4xs-7);
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
@media screen and (max-width: 450px) {
  .div,
  .div1 {
    font-size: var(--font-size-base);
  }
}

@media screen and (max-width: 675px) {
  .mainContainer {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .mainContainerInner {
    padding-top: var(--padding-197xl);
    box-sizing: border-box;
  }
  .mainContainer {
    gap: var(--gap-lgi);
  }
}
