.quillescapeIcon {
  height: 32px;
  width: 32px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  cursor: pointer;
}
.mainContent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 99px var(--padding-xl);
}
.frameChild {
  height: 60px;
  width: 154.3px;
  position: relative;
  background-color: var(--color-gold);
  display: none;
}
.div {
  position: relative;
  font-size: var(--font-size-6xl);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  min-width: 50px;
  z-index: 1;
}
.mypageSetting,
.mypageSettingInner,
.rectangleParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.rectangleParent {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini) var(--padding-32xl);
  background-color: var(--color-gold);
  justify-content: flex-start;
}
.rectangleParent:hover {
  background-color: var(--color-gold-100);
}
.mypageSetting,
.mypageSettingInner {
  width: 321.7px;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.mypageSetting {
  width: 1024px;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 var(--padding-52xl);
  gap: 158px;
  line-height: normal;
  letter-spacing: normal;
  max-height: 100%;
}
@media screen and (max-width: 675px) {
  .mypageSetting {
    gap: 79px;
  }
}
@media screen and (max-width: 450px) {
  .div {
    font-size: var(--font-size-xl);
  }
  .mypageSetting {
    gap: 39px;
  }
}
