.div {
  height: 25px;
  width: 57px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.userInformation {
  width: 487px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.div1 {
  position: relative;
  display: inline-block;
  min-width: 92px;
  white-space: nowrap;
}
.profileData {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-4xl) 0 var(--padding-5xl);
}
.editProfileChild {
  align-self: stretch;
  height: 1px;
  position: relative;
  backdrop-filter: blur(4px);
  border-top: 1px solid var(--color-gray-100);
  box-sizing: border-box;
}
.frameChild {
  height: 24px;
  width: 139px;
  position: relative;
  border-radius: var(--br-12xs);
  background-color: var(--color-whitesmoke);
  display: none;
}
.div2 {
  flex: 1;
  position: relative;
  z-index: 1;
}
.editProfile,
.rectangleParent {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.rectangleParent {
  height: 24px;
  border-radius: var(--br-12xs);
  background-color: var(--color-whitesmoke);
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-8xl) 0 0;
  box-sizing: border-box;
  white-space: nowrap;
}
.editProfile {
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-3xs-5);
}
.profileModification {
  width: 139px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-lg);
  box-sizing: border-box;
}
.div3,
.email {
  position: relative;
}
.email {
  border: 1px solid var(--color-gray-200);
  outline: 0;
  background-color: transparent;
  align-self: stretch;
  height: 60px;
  box-sizing: border-box;
  min-width: 250px;
}
.div3 {
  width: 57px;
  height: 25px;
  display: inline-block;
  flex-shrink: 0;
}
.emailInput {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
  min-width: 292px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-mini);
  font-family: var(--font-poiret-one);
}
.profileSettings {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  gap: var(--gap-57xl);
  max-width: 100%;
}
.div4 {
  width: 92px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.email1,
.wrapper {
  box-sizing: border-box;
}
.wrapper {
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  cursor: pointer;
}
.email1 {
  border: 1px solid var(--color-gray-200);
  outline: 0;
  background-color: transparent;
  align-self: stretch;
  height: 60px;
  position: relative;
  min-width: 250px;
}
.postInput,
.userPosts {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.postInput {
  width: 450px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0 0;
  box-sizing: border-box;
}
.userPosts {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
  margin-top: -8px;
}
.profileSettingsParent {
  align-self: stretch;
  flex-direction: column;
  text-align: center;
  font-size: var(--font-size-xl);
  font-family: var(--font-inter);
}
.navigation,
.profileNavigation,
.profileSettingsParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.profileNavigation {
  width: 665px;
  flex-direction: column;
}
.navigation {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-53xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-black);
  font-family: var(--font-poiret-one);
}
@media screen and (max-width: 800px) {
  .navigation {
    padding-left: var(--padding-17xl);
    padding-right: var(--padding-17xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 675px) {
  .profileSettings {
    gap: var(--gap-19xl);
  }
  .userPosts {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 450px) {
  .div1 {
    font-size: var(--font-size-base);
  }
  .profileSettings {
    gap: var(--gap-lgi);
  }
  .div4 {
    font-size: var(--font-size-base);
  }
}
