.formContainer,
.signUpDeveloper {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.formContainer {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-19xl);
}
.signUpDeveloper {
  width: 540px;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 0 var(--padding-9xl);
  gap: var(--gap-73xl);
  line-height: normal;
  letter-spacing: normal;
  max-height: 100%;
}
@media screen and (max-width: 450px) {
  .signUpDeveloper {
    gap: var(--gap-27xl);
  }
}
