.languages {
  position: relative;
  display: inline-block;
  min-width: 92px;
}
.languages1 {
  border: 1px solid var(--color-gray-200);
  outline: 0;
  background-color: transparent;
  align-self: stretch;
  height: 60px;
  position: relative;
  box-sizing: border-box;
  min-width: 250px;
}
.skillsetCategories {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.experience {
  position: relative;
  display: inline-block;
  min-width: 89px;
}
.experience1 {
  border: 1px solid var(--color-gray-200);
  outline: 0;
  background-color: transparent;
  align-self: stretch;
  height: 60px;
  position: relative;
  box-sizing: border-box;
  min-width: 250px;
}
.skillsetCategories1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.skills {
  position: relative;
  display: inline-block;
  min-width: 40px;
}
.skillsetCategoriesChild {
  border: 1px solid var(--color-gray-200);
  outline: 0;
  background-color: transparent;
  align-self: stretch;
  height: 60px;
  position: relative;
  box-sizing: border-box;
  min-width: 250px;
}
.skillsetCategories2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.info {
  position: relative;
  display: inline-block;
  min-width: 31px;
}
.details,
.info1 {
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
}
.info1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.details {
  align-self: stretch;
  height: 226px;
  position: relative;
  overflow-y: auto;
  flex-shrink: 0;
}
.information,
.skillsetOverview {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.information {
  align-self: stretch;
  gap: var(--gap-11xs);
}
.skillsetOverview {
  width: 470px;
  height: 565px;
  flex-shrink: 0;
  padding: 0 var(--padding-xl) var(--padding-235xl) 0;
  box-sizing: border-box;
  gap: var(--gap-9xl);
  debug_commit: 1de1738;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-poiret-one);
}
@media screen and (max-width: 450px) {
  .experience,
  .info,
  .languages,
  .skills {
    font-size: var(--font-size-base);
  }
}
