@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poiret+One:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=SF+Pro:wght@400&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-inter: Inter;
  --font-sf-pro: "SF Pro";
  --font-poiret-one: "Poiret One";

  /* font sizes */
  --font-size-31xl: 50px;
  --font-size-11xl: 30px;
  --font-size-21xl: 40px;
  --font-size-mini: 15px;
  --font-size-mid: 17px;
  --font-size-xl: 20px;
  --font-size-base: 16px;
  --font-size-77xl: 96px;
  --font-size-10xl: 29px;
  --font-size-29xl: 48px;
  --font-size-9xl: 28px;
  --font-size-3xl: 22px;
  --font-size-6xl: 25px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-gray-200: rgba(0, 0, 0, 0.3);
  --color-gray-100: rgba(0, 0, 0, 0.1);
  --fills-tertiary: rgba(118, 118, 128, 0.12);
  --labels-secondary: rgba(60, 60, 67, 0.6);
  --color-gold: #f8f15b;
  --color-gold-100: #ded942;
  --color-gainsboro-100: #d9d9d9;
  --color-gainsboro-200: rgba(217, 217, 217, 0);
  --color-whitesmoke: #eaeaea;

  /* Gaps */
  --gap-35xl: 54px;
  --gap-8xl: 27px;
  --gap-29xl: 48px;
  --gap-5xl: 24px;
  --gap-13xl: 32px;
  --gap-base: 16px;
  --gap-3xs-3: 9.3px;
  --gap-5xs-5: 7.5px;
  --gap-3xs-5: 9.5px;
  --gap-10xl-5: 29.5px;
  --gap-11xs: 2px;
  --gap-67xl: 86px;
  --gap-2xl: 21px;
  --gap-24xl: 43px;
  --gap-xl: 20px;
  --gap-4xs: 9px;
  --gap-9xl: 28px;
  --gap-73xl: 92px;
  --gap-27xl: 46px;
  --gap-10xl: 29px;
  --gap-19xl: 38px;
  --gap-57xl: 76px;
  --gap-lgi: 19px;
  --gap-6xs: 7px;
  --gap-58xl: 77px;
  --gap-4xs-7: 8.7px;

  /* Paddings */
  --padding-6xs: 7px;
  --padding-5xs: 8px;
  --padding-15xl: 34px;
  --padding-8xl: 27px;
  --padding-67xl: 86px;
  --padding-426xl: 445px;
  --padding-xl: 20px;
  --padding-203xl: 222px;
  --padding-197xl: 216px;
  --padding-121xl: 140px;
  --padding-4xs: 9px;
  --padding-12xs: 1px;
  --padding-11xs: 2px;
  --padding-141xl: 160px;
  --padding-234xl: 253px;
  --padding-145xl: 164px;
  --padding-11xl: 30px;
  --padding-19xl: 38px;
  --padding-154xl: 173px;
  --padding-7xs: 6px;
  --padding-3xl: 22px;
  --padding-524xl: 543px;
  --padding-252xl: 271px;
  --padding-116xl: 135px;
  --padding-26xl: 45px;
  --padding-mini: 15px;
  --padding-base: 16px;
  --padding-6xl: 25px;
  --padding-9xl: 28px;
  --padding-235xl: 254px;
  --padding-52xl: 71px;
  --padding-32xl: 51px;
  --padding-53xl: 72px;
  --padding-17xl: 36px;
  --padding-lg: 18px;
  --padding-4xl: 23px;
  --padding-5xl: 24px;
  --padding-16xl: 35px;
  --padding-314xl: 333px;

  /* Border radiuses */
  --br-3xs: 10px;
  --br-12xs: 1px;
}
