.div {
  position: relative;
  line-height: 19px;
  display: inline-block;
  min-width: 60px;
  cursor: pointer;
}
.userActions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0 0;
}
.profileOptionsChild {
  height: 31px;
  width: 1px;
  position: relative;
  backdrop-filter: blur(4px);
  border-right: 1px solid var(--color-gray-100);
  box-sizing: border-box;
}
.div1 {
  position: relative;
  line-height: 19px;
  display: inline-block;
  min-width: 69px;
  white-space: nowrap;
  cursor: pointer;
}
.userActions1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0 0;
}
.profileOptions,
.userProfileActions {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.profileOptions {
  height: 30px;
  justify-content: flex-start;
  gap: var(--gap-5xs-5);
}
.userProfileActions {
  align-self: stretch;
  justify-content: flex-end;
}
.ida {
  margin: 0;
  width: 180px;
  position: relative;
  font-size: var(--font-size-77xl);
  font-weight: 400;
  font-family: var(--font-poiret-one);
  color: var(--color-gold);
  text-align: left;
  display: inline-block;
  cursor: pointer;
}
.navigationBar,
.navigationItems {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.navigationItems {
  width: 783px;
  flex-direction: column;
  justify-content: flex-start;
}
.navigationBar {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
}
.div2 {
  position: relative;
  line-height: 24px;
  white-space: nowrap;
  cursor: pointer;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs) 0 0;
}
.contentDivider {
  height: 41px;
  width: 1px;
  position: relative;
  backdrop-filter: blur(4px);
  border-right: 1px solid var(--color-gray-100);
  box-sizing: border-box;
}
.developerListAreaChild {
  height: 24px;
  width: 98px;
  position: relative;
  border-radius: var(--br-12xs);
  background-color: var(--color-gold);
  display: none;
}
.div3 {
  position: relative;
  display: inline-block;
  min-width: 98px;
  white-space: nowrap;
  z-index: 1;
}
.developerListArea,
.developerListAreaWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.developerListArea {
  border-radius: var(--br-12xs);
  background-color: var(--color-gold);
  flex-direction: row;
  white-space: nowrap;
}
.developerListAreaWrapper {
  flex-direction: column;
  padding: var(--padding-4xs) 0 0;
}
.contentDivider1 {
  height: 41px;
  width: 1px;
  position: relative;
  backdrop-filter: blur(4px);
  border-right: 1px solid var(--color-gray-100);
  box-sizing: border-box;
}
.div4 {
  position: relative;
  display: inline-block;
  min-width: 80px;
  white-space: nowrap;
  cursor: pointer;
}
.container,
.mainArea {
  justify-content: flex-start;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-4xs) 0 0;
}
.mainArea {
  height: 40px;
  flex-direction: row;
  gap: var(--gap-3xs-5);
  font-size: var(--font-size-xl);
}
.mainArea,
.mainContent,
.navigationHeader {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.navigationHeader {
  width: 870px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.mainContent {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  text-align: center;
  font-size: var(--font-size-mini);
  color: var(--color-black);
  font-family: var(--font-inter);
}
@media screen and (max-width: 750px) {
  .ida {
    font-size: var(--font-size-29xl);
  }
}
@media screen and (max-width: 450px) {
  .ida {
    font-size: var(--font-size-10xl);
  }
  .div2,
  .div4 {
    font-size: var(--font-size-base);
  }
  .navigationHeader {
    gap: var(--gap-base);
  }
}
