.im {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.contentArea {
  width: 138px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl) 0 0;
  box-sizing: border-box;
}
.quillescapeIcon {
  height: 32px;
  width: 32px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  cursor: pointer;
}
.contentAreaParent {
  width: 239px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 0 0 var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
}
.frameChild {
  align-self: stretch;
  width: 124px;
  position: relative;
  background-color: var(--color-gold);
  display: none;
}
.materialSymbolspersonIcon {
  height: 124px;
  width: 124px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  cursor: pointer;
  z-index: 1;
}
.rectangleParent {
  align-self: stretch;
  background-color: var(--color-gold);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.normal {
  position: relative;
  display: inline-block;
  min-width: 65px;
}
.userName,
.userSpecs {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.userName {
  flex-direction: row;
  padding: 0 var(--padding-11xl) 0 29px;
}
.userSpecs {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-base);
}
.affiliationChild {
  height: 124px;
  width: 124px;
  position: relative;
  background-color: var(--color-gold);
  display: none;
}
.rimacbookLineIcon {
  height: 124px;
  width: 124px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  cursor: pointer;
  z-index: 1;
}
.affiliation {
  align-self: stretch;
  background-color: var(--color-gold);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.developer {
  position: relative;
  display: inline-block;
  min-width: 84px;
}
.jobTitle,
.roleInfo,
.userInfo {
  display: flex;
  justify-content: flex-start;
}
.jobTitle {
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-3xl);
}
.roleInfo,
.userInfo {
  flex: 1;
}
.roleInfo {
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
}
.userInfo {
  flex-direction: row;
  align-items: flex-end;
  gap: var(--gap-xl);
}
.letter1,
.userInfoWrapper {
  display: flex;
  color: var(--color-black);
  font-family: var(--font-poiret-one);
}
.userInfoWrapper {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-4xs) 0 19px;
  text-align: left;
  font-size: var(--font-size-xl);
}
.letter1 {
  width: 300px;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-19xl);
  line-height: normal;
  letter-spacing: normal;
  max-width: 100%;
  max-height: 100%;
  text-align: center;
  font-size: var(--font-size-31xl);
}
