.quillescapeIcon {
  height: 32px;
  width: 32px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  cursor: pointer;
}
.quillescapeWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}
.ida {
  margin: 0;
  width: 180px;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
}
.contentBlock,
.mainLayout {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.contentBlock {
  width: 367px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-10xl);
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.mainLayout {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 0 39px;
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-77xl);
  color: var(--color-gold);
  font-family: var(--font-poiret-one);
}
.frameChild {
  height: 60px;
  width: 450px;
  position: relative;
  background-color: var(--color-gold);
  display: none;
  max-width: 100%;
}
.signUp {
  align-self: stretch;
  width: 103px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.rectangleParent,
.signUpDeveloper2 {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.rectangleParent {
  width: 450px;
  height: 60px;
  background-color: var(--color-gold);
  flex-shrink: 0;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-mini) var(--padding-xl) var(--padding-base);
  debug_commit: 1de1738;
  white-space: nowrap;
  cursor: pointer;
}
.signUpDeveloper2 {
  width: 540px;
  height: 830px;
  position: relative;
  background-color: var(--color-white);
  overflow-y: auto;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-19xl);
  gap: 53px;
  line-height: normal;
  letter-spacing: normal;
  max-height: 100%;
  overflow: auto;
  text-align: center;
  font-size: var(--font-size-6xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
@media screen and (max-width: 270px) {
  .signUpDeveloper2 {
    gap: 26px;
  }
}
